{% extends 'base.html.twig' %}

{% block title %} gérer mes adresses  - la French boutique {% endblock %}


{% block content %}
<h1> Gérer mes adresses </h1>

<hr>
<a href =" {{ path('app_account_adress') }} ">Retourà mes adresses<a/>
<hr>
{{ form_start(form)}}
<div class ="row">
<div class ="col-md-12">{{ form_row(form.name) }}</div>
<div class ="col-md-6">{{ form_row(form.firstname) }}</div>
<div class ="col-md-6">{{ form_row(form.Lastname) }}</div>
<div class ="col-md-6">{{ form_row(form.compagny) }}</div>
<div class ="col-md-6">{{ form_row(form.adress) }}</div>
<div class ="col-md-6">{{ form_row(form.postal) }}</div>
<div class ="col-md-6">{{ form_row(form.city) }}</div>
<div class ="col-md-6">{{ form_row(form.country) }}</div>
<div class ="col-md-6">{{ form_row(form.phone) }}</div>
</div>




{{ form_end(form)}}

{% endblock %}
