{% extends 'base.html.twig' %}

{% block title %} {{produit.name}} -French_boutique{% endblock %}

{% block content %}
<div class ="row">
<div class ="col -md-5">
 <img src ="/img/{{ produit.illustration }}" alt="{{produit.name }}" class="img-fluid">
</div>
<div class="col-md-7 my-auto">
<h3>{{produit.name}}</h3>
<p>{{produit.subtitle}}</p>
<span class ="product-page-price">{{(produit.price / 100)|number_format(2, ',','.')}}</span> 
<hr>
<p>
{{produit.description}}
</p>
<a href="{{path('app_add_to_cart', {'id' : produit.id}) }} "class="btn btn-dark">Ajouter au panier</a> 
</div>




</div>








{% endblock %}
