{% extends 'base.html.twig' %}

{% block title %}Paiement de votre commande - French boutique{% endblock %}

{% block content %}
<h2> Récapitulatif de ma commande</h2>
<p> Verifiez vos informations avant de payer votre commande.  </p>
<hr>
<div class="row">
<div class ="col-md-6">
Mon adresse de livraison </br>

Mon transporteur



</div>

<div class ="col-md-6">
<div class ="text-center">
<b>Récapitulatif de ma commande</b><br>
<p> Retrouvez le récapitulatif de vos produits.</p>
</div>

<div class="order-summary">
{% for key,produit in cart %}
<div class ="row {% if key > 0 %}mt-2{% endif %}">
<div class =" col-2">
<img src ="/img/{{ produit.produit.illustration}}" alt ="{{produit.produit.name}}"height="75px">
</div>

<div class =" col-8 my-auto">
{{ produit.produit.name }}<br>
 <small>{{ produit.produit.subtitle }}</small>
</div>

<div class =" col-2 my-auto"> 
x {{produit.quantity}} 
</div>
</div>


{% endfor %}
</div>


</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
<a href ="" class ="btn btn-dark col-6 mt-3">Payer</a>
</div>
</div>
{% endblock %}
